<!-- MAIN -->
<section id="main">
  <div
        id="carousel"
        class="carousel slide carousel-fade"
        data-ride="carousel"
        data-pause="false"
      >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("main.jpg", :alt => "logo", :class => "d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("main2.jpg", :alt => "logo", :class => "d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("main3.jpg", :alt => "logo", :class => "d-block w-100") %>
      </div>
      <div class="overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-12 col-lg-6 text-left ">
              <%= image_tag("logocolor.png", :alt => "logo" ,:id => "main-logo") %>
              <h5 class="d-none d-md-block">
                El objetivo de este proyecto consiste en ayudar a personas
                enfermas de Alzheimer proporcionándoles ayuda inmediata.
                Haciendo uso de códigos QR impresos en tarjetas ID, que, al
                ser escaneadas, estas tendrán un numero único de
                identificación de usuario, al ser ingresado en el sistema
                contendrá información personal previamente autorizada por
                los familiares.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- MAIN -->
<!-- INFO -->
<section id="info">
  <div class="container">
    <div class="row mt-5 text-center">
      <div class="col">
        <h2 class= "display-4">¿Como funciona?</h2>
        <h4>Te explicamos brevemente.</h6>
      </div>
    </div>
    <div class="row mt-4 text-center" id="info-details">
      <div class="col-lg-4 col-12  mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">El paciente</h5>
            <%= image_tag("doc.png", :alt => "logo") %>
            <p class="card-text">
              Sus datos seran registrados en nuestra base, creando asi un
              codigo QR unico, que guardara un id unico.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">El doctor</h5>
            <%= image_tag("doctor.png", :alt => "logo") %>
            <p class="card-text">
              Una vez el respectivo doctor haya registrado los datos podra
              consultarlos o actualizarlos en cualquier momento.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">La informacion</h5>
            <%= image_tag("seguridad.png", :alt => "logo") %>
            <p class="card-text">
              En caso de extravio, la tarjeta
              llevara telefono de contacto a la clinica, 
              por lo tanto solo la clinica pose la informacion privada.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div  class="row mb-5 text-center">
      <div class="col">
        <h3  class="display-4"> Tarjeta de identifiacion </h3>
        Se permitirá descargar el QR, que sera colocado 
        en la plantilla de tarjeta que podra descargar a continuacion. 
        <%= image_tag("ejemplotarjeta.png", :alt => "logo", :id => "identificacion") %>
      </div>
    </div>
    <div class="row mb-5 text-center">
      <div class="col">
        <a href="https://drive.google.com/file/d/1dQZV1MKHOxWCvqKIR679Iu8K98eWHI_M/view?usp=sharing" class="btn btn-primary"> Descargar plantilla </a>
      </div>
    </div>
  </div>
</section>
<!-- INFO -->
