<p id="notice"><%= notice %></p>
<div class="container my-3">
  <h1>Pacientes: <%=@patients.count%> </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Fecha de nacimiento</th>
        <th>Numero de emergencia</th>
        <th>Fase del padecimiento</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.name %></td>
          <td><%= patient.p_lastname %></td>
          <td><%= patient.m_lastname %></td>
          <td><%= patient.birth %></td>
          <td><%= patient.emergency_number %></td>
          <td><%= patient.phase %></td>
          <td><%= link_to 'Show', patient , class: "btn btn-warning"%></td>
          <td><%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-secondary" %></td>
          <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Patient', new_patient_path, class: "btn btn-info"%>
</div>
