<div class="container my-4 bg-custom py-2 px-2 shadow">
  <h1> Detalle del paciente:</h1>
  <div >
    <div class="row">
      <div class="col-12 ">
        <div class="card shadow bg-white rounded mx-auto" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-12 col-md-6 px-3 py-3">
              <%= image_tag(@patient.qr_code, width: 250, crop: :scale) %>
            </div>
            <div class="col-12 col-md-6">
              <div class="card-body bg-light">
                <h5 class="card-title"><strong><%= @patient.name %> <%= @patient.p_lastname %> <%= @patient.m_lastname %></strong></h5>
                <p class="card-text">
                  <strong>Fecha de nacimiento:</strong>
                  <%= @patient.birth %>
                </p>
                <p class="card-text">
                  <strong>Numero de emergencia:</strong>
                  <%= @patient.emergency_number %>
                </p>
                <p class="card-text">
                  <strong>Fase:</strong>
                  <%= @patient.phase %>
                </p>
                <p>
                  <%= link_to 'Descargar QR', rails_blob_path(@patient.qr_code, disposition: 'attachment'), class: "btn btn-warning" %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid text-right">
          <% if @patient.user.id == current_user.id %>
            <%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-secondary" %>
          <% end %>
          <%= link_to 'Back', patients_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
