<!-- HEADER -->
<nav id="header" class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand">
      <%= image_tag("logo.png", :alt => "logo") %>
    </a>
    <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto  ">
        <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if request.path == root_path%> ">
            <%= link_to "Inicio", root_path, class: 'nav-link'%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Editar perfil", edit_user_registration_path, class: 'dropdown-item'%>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pacientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Buscar", my_patients_path, class: 'nav-link', class: 'dropdown-item'%>
              <%= link_to "Pacientes", patients_path, class: 'nav-link', class: 'dropdown-item'%>
            </div>
          </li>
          <li class="nav-item text-danger">
            <%= link_to "Salir", destroy_user_session_path, method: :delete, class: 'nav-link'%>
          </li>
        <% end%>
      </ul>
    </div>
  </div>
</nav>
<!-- HEADER -->
